<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/styles.css" />
        <title>
            Recon Reports
        </title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="well well-sm">
                        <fieldset>
                            <legend class="text-center">
                                Completed Reconnaissance Reports</legend>
                            <table class="table table-condensed"
                                style="border-collapse:collapse;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>URL</th>
                                        <th>Report</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for res in RESULTS %}
                                    <tr>
                                        <td>{{res.company_name}}</td>
                                        <td>{{res.company_url}}</td>
                                        <td>
                                            <a target="_blank"
                                                href="/report_details/{{res.report_id}}">
                                                Report
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
