<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<!-- Latest compiled and minified CSS -->
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
/>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<link
  href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
  rel="stylesheet"
/>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<html>
  <head>
    <title>Automated Report</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <style type="text/css" media="print">
      .dontprint {
        display: none;
      }
      .progress {
        width: 100%;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <hr>
    <div
      style="width:30px; height: 30px; display: inline-block;
            vertical-align:top;">
      <img
        src="https://www.onemedical.com/static/images/apple-touch-icon-180x180.png"
        style="max-width:100%;
                max-height:100%;"
      />
    </div>
    <h1 class='company_name' style="display: inline-block; vertical-align:top;">
      Passive Recon Report:
    </h1>

    <div class="dontprint">
      <hr>
      <h4><a target="_blank" href="/">Start Over</a></h4>
      <h4>
        To submit report, open the print module (⌘P) and save as a PDF.<br />
        Email Security@ and we will get back to you shortly!
      </h4>

      <!--<button onclick="start_long_task();">Start Long Calculation</button><br><br>-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
      <div id="progress"></div>
    </div>
    <hr />
    
    <!-- Report details -->
    <div class="card" style="width: 100%; display: inline-block;
      vertical-align:top;">
      <div class="card-body">
        <h3 class="card-title">Report Summary</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" id="toggle_breach_text"
            style="display:none;">This company has had security breaches in the
            past. We estimate the breach was significant as a public release was
            made.</li>
          <li class="list-group-item" id="toggle_pwned_text"
            style="display:none;">The founder's email was associated with other
            security breaches. This can indicate targetting, poor password
            rotation, or weak passwords.</li>
          <li class="list-group-item" id="toggle_staff_text"
            style="display:none;">There appears to be a lack of security
            engineers. This can present a significant security risk and can pose
            challenges in uncovering security breaches or timely remediating
            exploitable flaws in their environment.</li>
          <li class="list-group-item" id="toggle_vuln_text"
            style="display:none;">Our automated testing discovered
            vulnerabilites. See below for details.</li>
          <li class="list-group-item" id="summary_blob"
            style="display:block;">Because of the time boxed nature of the
            reconnaissance and because only publicly available data sources were
            used, this report is not meant to be indicative of overall security
            maturity of the company evaluated. Rather, it is meant to be used
            solely as a potential indicator that can be considered as one part
            of the overall diligence process.</li>
        </ul>
      </div>
    </div>

    <div class="company-details"></div>

    <div class="non-auto-checks">
      <hr />
      <!-- -->

        <h3 style="page-break-before: always">Non-Automated Checks:</h3>
        <div>
            <div style="display: inline-block;width: 60%;" class="founder-emails-compro">
                <h5 style="display: inline-block; vertical-align:top;">
                    Have founder emails been compromised?
                </h5>
            </div>
            <div style="display: inline-block; vertical-align:top; right: 40%;">
                <input
                type="checkbox"
                data-toggle="toggle"
                data-on="Yes"
                data-off="No"
                id="toggle_pwned"
                />
            </div>
        </div>
        <h5 style="display: inline-block; width: 60%; vertical-align:top;">Have
            there been previous security breaches?</h5>
        <div style="display: inline-block; vertical-align:top; right: 40%;">
        <input
            type="checkbox"
            data-toggle="toggle"
            data-on="Yes"
            data-off="No"
            id="toggle_breach"
            />
        </div>
        <br>
        <div class="dontprint">
        <iframe style="outline:none;width: 500px;height: 500px;"
            src="https://www.google.com/search?igu=1&ei=&q={{company_name}}+breach"
            style=></iframe>
        </div>
    </div>
    <script>
    $(function() {
        $('#toggle_breach').change(function() {
            $('#toggle_breach_text').toggle();
        })
    })
    $(function() {
        $('#toggle_pwned').change(function() {
            $('#toggle_pwned_text').toggle();
        })
    })
    </script>

    <div class="domain-details">
      <h3>Domain Details</h3>
      <h5 style="display: inline-block; width: 60%; vertical-align:top;">
        Are there significant vulnerabilities detected in the below enumerated
        (sub)domains?
      </h5>
      <div style="display: inline-block; vertical-align:top; right: 40%;">
        <input
          type="checkbox"
          data-toggle="toggle"
          data-on="Yes"
          data-off="No"
          id="toggle_vuln"
        />
      </div>
      <script>
        $(function() {
          $('#toggle_vuln').change(function() {
            $('#toggle_vuln_text').toggle();
          });
        });
      </script>
      <br />
      <!-- Collapsable Subdomain List: -->
      <div class="domain-details-inner">LOADING...</div>
    </div>

    <div class="linkedin-details">
      <h3>LinkedIn Details</h3>
      <h5 style="display: inline-block; width: 60%;">
        Information available online regarding open positions and current
        employees, specifically with "Cyber" or "Security" in their title. These
        may all be false positives. Do the results indicate a concerning/lack of
        engineers?
      </h5>
      <div style="display: inline-block; vertical-align:top; right: 40%;">
        <input
          type="checkbox"
          data-toggle="toggle"
          data-on="Yes"
          data-off="No"
          id="toggle_staff"
        />
      </div>
      <br />
      <div class="linkedin-details-inner">LOADING...</div>
    </div>

    <script>
    $(function() {
        $('#toggle_staff').change(function() {
        $('#toggle_staff_text').toggle();
        });
    });
    </script>

    <script>
      function start_long_task() {
        // add task status elements
        div = $(
          '<div id="progress" class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div>'
        );
        $('#progress').append(div);
        // create a progress bar
        var nanobar = new Nanobar({
          bg: '#44f',
          target: div[0].childNodes[0],
        });

        update_progress("{{STATUS_URL}}", nanobar, div[0])
        // send ajax POST request to start background job
        // $.ajax({
        //   type: 'POST',
        //   url: '/launch_recon',
        //   data: JSON.stringify({
        //     url: '{{DOMAIN}}',
        //     company_name: '{{company_name}}',
        //   }),
        //   contentType: 'application/json;charset=UTF-8',
        //   success: function(data, status, request) {
        //     status_url = request.getResponseHeader('Location');
        //     update_progress(status_url, nanobar, div[0]);
        //   },
        //   error: function() {
        //     alert('Unexpected error');
        //   },
        // });
      }
      function update_progress(status_url, nanobar, status_div) {
        // send GET request to status URL
        $.getJSON(status_url, function(data) {
          // update UI
          percent = parseInt((data['current'] * 100) / data['total']);
          nanobar.go(percent);
          $(status_div.childNodes[1]).text(percent + '%');
          $(status_div.childNodes[2]).text(data['status']);

          if ('result' in data) {
            //$('.data-here').html(data['result']);
            // if ('company_url' in data['result']) {
            //     $('.company_url').html(data['result']['company_url']);
            // }
            if ('company_name' in data['result']) {
                $('.company_name').text('Passive Recon Report: ' + data['result']['company_name']);
            }
            
            if ('company-details' in data['result']) {
                $('.company-details').html(data['result']['company-details']);
            }

            if ('founder-emails-compro' in data['result']) {
                $('.founder-emails-compro').html(data['result']['founder-emails-compro']);
            }

            if ('domain-details-inner' in data['result']) {
                $('.domain-details-inner').html(data['result']['domain-details-inner']);
            }

            if ('linkedin-details-inner' in data['result']) {
                $('.linkedin-details-inner').html(data['result']['linkedin-details-inner']);
            }
          }

          if (data['state'] == 'COMPLETED' || data['state'] == 'SUCCESS') {
            $('.progress').hide();
            $(status_div.childNodes[3]).text('Result: ' + data['state']);
          } else {
            setTimeout(function() {
              update_progress(status_url, nanobar, status_div);
            }, 2000);
          }
        });
      }

    start_long_task();
    
    </script>
    <!-- <button id="start-bg-job" onclick="start_long_task()">Start
            Long Calculation</button><br><br> -->
  </body>
</html>
