<!DOCTYPE html>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <title>
      Passive Recon
    </title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="well well-sm">
            <form class="form-horizontal" action="/recon" method="post">
              <fieldset>
                <legend class="text-center">
                  Automated Passive Reconnaisance
                </legend>
                <!-- Name input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="company_name"
                    >Company Name</label
                  >
                  <div class="col-md-9">
                    <input
                      id="company_name"
                      name="company_name"
                      type="text"
                      placeholder="Company Name"
                      class="form-control"
                    />
                  </div>
                </div>

                <!-- URL input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="company_name"
                    >Company URL</label
                  >
                  <div class="col-md-9">
                    <input
                      id="company_url"
                      name="company_url"
                      type="text"
                      placeholder="company.com"
                      class="form-control"
                    />
                  </div>
                </div>

                <!-- Checkboxes for tests to run -->

                <!-- <div class="form-group">
                  <label class="col-md-3 control-label" for="runShodan"
                    >Run Shodan</label
                  >
                  <div class="col-md-9">
                    <input
                      type="checkbox"
                      name="runShodan"
                      value="yes"
                      checked
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label" for="run_sublist3r"
                    >Run Sublist3r</label
                  >
                  <div class="col-md-9">
                    <input
                      type="checkbox"
                      name="run_sublist3r"
                      value="yes"
                      checked
                    />
                  </div>
                </div> -->
                <div class="form-group">
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary btn-lg">
                      Submit
                    </button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
