<!DOCTYPE html>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>
        Passive Recon
    </title>
</head>

<body>
    <h1>Passive Reconnaisance</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-sm">
                    <form class="form-horizontal" action="/recon" method="post">
                        <fieldset>
                            <legend class="text-center">Automated Passive Reconnaisance</legend>
                            <!-- Name input-->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="companyName">Company Name</label>
                                <div class="col-md-9">
                                    <input id="companyName" name="companyName" type="text" placeholder="Company Name" class="form-control">
                                </div>
                            </div>

                            <!-- Email input-->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="companyURL">Company URL</label>
                                <div class="col-md-9">
                                    <input id="companyURL" name="companyURL" type="text" placeholder="Company URL" class="form-control">
                                </div>
                            </div>

                            <!-- Message body 
                    <div class="form-group">
                      <label class="col-md-3 control-label" for="message">Your message</label>
                      <div class="col-md-9">
                        <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                      </div>
                    </div>-->
                            <!-- Form actions -->
                            <div class="form-group">
                                <div class="col-md-12 text-right">
                                    <button type="submit" class="btn
                                            btn-primary btn-lg">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>