<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
  />

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link
  href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
  rel="stylesheet"
  />
<script
  src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<html>
  <head>
    <title>Automated Report</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <style type="text/css" media="print">
      .dontprint
      { display: none; }
    </style>
  </head>
  <body>
    <hr>
    <div style="width:30px; height: 30px; display: inline-block;
      vertical-align:top;">
      <img
        src="https://www.onemedical.com/static/images/apple-touch-icon-180x180.png"
        style="max-width:100%;
        max-height:100%;">
    </div>
    <h1 style="display: inline-block; vertical-align:top;">Passive Recon Report:
      {{ company_name }}</h1>

    <div class="dontprint">
      <hr>
      <h4><a target="_blank" href="/">Start Over</a></h4>
      <h4>
        To submit report, open the print module (⌘P) and save as a PDF.<br>
        Email Security@ and we will get back to you shortly!
      </h4>
    </div>
    <hr>
    <div class="card" style="width: 49%; display: inline-block;">
      <div class="card-body">
        <h3 class="card-title">Company Details</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Founded Date: {{details['founded_on']}}</li>
          <li class="list-group-item">Founders:
            {% for det in details['founders'] %}
            {{det}};
            {% endfor %}
          </li>
          <li class="list-group-item">Private/Public: {{details['company']}}</li>
          <li class="list-group-item">Number of Employees:
            {{details['num_employees']}}</li>
          <li class="list-group-item">Headquarters: {{details['location']}}</li>
          <li class="list-group-item">Online Presence: <br>
            {% for det in details['online'] %}
            <a target="_blank" href="{{details['online'][det]}}">{{details['online'][det]}}</a>
            <br>
            {% endfor %}
          </li>
          <li class="list-group-item">Domain Details:
            {{whois_result}}
          </li>
        </ul>
      </div>
    </div>

    <!-- Report details -->
    <div class="card" style="width: 49%; display: inline-block;
      vertical-align:top;">
      <div class="card-body">
        <h3 class="card-title">Report Summary</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" id="toggle_breach_text"
            style="display:none;">This company has had security breaches in the
            past. We estimate the breach was significant as a public release was
            made.</li>
          <li class="list-group-item" id="toggle_pwned_text"
            style="display:none;">The founder's email was associated with other
            security breaches. This can indicate targetting, poor password
            rotation, or weak passwords.</li>
          <li class="list-group-item" id="toggle_staff_text"
            style="display:none;">There appears to be a lack of security
            engineers. This can present a significant security risk and can pose
            challenges in uncovering security breaches or timely remediating
            exploitable flaws in their environment.</li>
          <li class="list-group-item" id="toggle_vuln_text"
            style="display:none;">Our automated testing discovered
            vulnerabilites. See below for details.</li>
          {% if domain_results|length > 100 %}
          <li class="list-group-item" id="toggle_vuln_text"
            style="display:none;">With {{domain_results|length}} (sub)domains,
            security risk increases.</li>
          {% endif %}
          <li class="list-group-item" id="toggle_vuln_text"
            style="display:block;">Because of the time boxed nature of the
            reconnaissance and because only publicly available data sources were
            used, this report is not meant to be indicative of overall security
            maturity of the company evaluated. Rather, it is meant to be used
            solely as a potential indicator that can be considered as one part
            of the overall diligence process.</li>
        </ul>

      </div>
    </div>

    <hr>
    <!-- -->

    <h3 style="page-break-before: always">Non-Automated Checks:</h3>
    <div>
      <h5 style="display: inline-block; width: 50%; vertical-align:top;">Have
        founder emails been compromised? Visit <a target="_blank"
          href="https://haveibeenpwned.com">HaveIBeenPwned</a> to check {% for
        founder in founder_emails %} {{founder}} {% endfor %} </h5>
      <div style="display: inline-block; vertical-align:top; right: 40%;">
        <input
          type="checkbox"
          data-toggle="toggle"
          data-on="Yes"
          data-off="No"
          id="toggle_pwned"
          />
      </div>
      <h5 style="display: inline-block; width: 50%; vertical-align:top;">Have
        there been previous security breaches?</h5>
      <div style="display: inline-block; vertical-align:top; right: 40%;">
        <input
          type="checkbox"
          data-toggle="toggle"
          data-on="Yes"
          data-off="No"
          id="toggle_breach"
          />
      </div>
      <br>
      <div class="dontprint">
        <iframe style="outline:none;width: 500px;height: 500px;"
          src="https://www.google.com/search?igu=1&ei=&q={{company_name}}+breach"
          style=></iframe>
      </div>
    </div>
    <hr>

    <script> 
      $(function() {
        $('#toggle_breach').change(function() {
          $('#toggle_breach_text').toggle();
        })
      })
      $(function() {
        $('#toggle_pwned').change(function() {
          $('#toggle_pwned_text').toggle();
        })
      })
      </script>
    <h3>Domain Details:</h3>
    <h5 style="display: inline-block; width: 50%; vertical-align:top;">Are there
      significant vulnerabilities detected in enumerated (sub)domains?</h5>
    <div style="display: inline-block; vertical-align:top; right: 40%;">
      <input
        type="checkbox"
        data-toggle="toggle"
        data-on="Yes"
        data-off="No"
        id="toggle_vuln"
        />
    </div>
    <script>
      $(function() {
        $('#toggle_vuln').change(function() {
          $('#toggle_vuln_text').toggle();
        })
      })
    </script>
    <br>
    <!-- Collapsable Subdomain List: -->
    <table class="table table-condensed" style="border-collapse:collapse;">
      <thead>
        <tr>
          <th>Subdomain</th>
          <th>IP Address</th>
          <th>Ports</th>
          <th>Built With</th>
          <th style="width: 150px">Vulnerabilities</th>
        </tr>
      </thead>
      <tbody>
        {% for result in domain_results %}
        <tr data-toggle="collapse" data-target="#object-{{ loop.index }}"
          class="accordion-toggle">
          <td><a target="_blank" href="https://{{result['url']}}">
              {{result['url']}}
            </a></td>
          <td>
            {% for ip in result['ips'] %}
            {{ip}}
            <br>
            {% endfor %}
          </td>
          <td>{% for port in result['ports'] %}
            {{port}};
            {% endfor %}</td>
          <td>{% for tool_type in result['builtwith'] %}
            {{tool_type}}:<br>
            {% for tool in result['builtwith'][tool_type] %}
            {{tool}};
            {% endfor %}<br>
            {% endfor %}</td>
          <td class="text-error">
            {% for vuln in result['vulns'] %}
            <a target="_blank" href="https://nvd.nist.gov/vuln/detail/{{vuln}}">
              {{vuln}}
            </a> {% endfor %}
          </td>
        </tr>
        <tr>
          <td colspan="6" class="hiddenRow"><div class="accordian-body collapse"
              id="object-{{ loop.index }}"><iframe
                src="{{EXPOSED_IP}}/frame?url=http://{{ result['url'] }}"
                width="100%"
                height="200px" style="resize: both;"></iframe>
            </div> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>

    <h3>LinkedIn Details</h3>
    <h5 style="display: inline-block; width: 50%;">Information available online
      regarding open positions and current employees, specifically with "Cyber"
      or "Security" in their title. These may all be false positives. Do the
      results indicate a concerning/lack of engineers?</h5>
    <div style="display: inline-block; vertical-align:top; right: 40%;">
      <input
        type="checkbox"
        data-toggle="toggle"
        data-on="Yes"
        data-off="No"
        id="toggle_staff"
        />
    </div>
    <br>
    <script>
      $(function() {
        $('#toggle_staff').change(function() {
          $('#toggle_staff_text').toggle();
        })
      })
    </script>
    <a name="targetname"></a>
    <div class="dontprint">
      <div style="width: 49%; display: inline-block; vertical-align:top;">
        <h3>Hiring</h3>
        <table class="table">
          <tr>
            <th scope="col">Title</th>
            <th scope="col" style="width: 100px;">LinkedIn</th>
            <th scope="col">Description</th>
          </tr>
          {% for result in jobs %}
          <tr>
            <td>{{ result['title'] }}</td>
            <td><a target="_blank" href={{ result['link'] }}>LinkedIn</a></td>
            <td>{{ result['description'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div style="width: 49%; display: inline-block; vertical-align:top;">
        <h3>Current Employees</h3>
        <table class="table">
          <tr>
            <th scope="col">Title</th>
            <th scope="col" style="width: 100px;">LinkedIn</th>
            <th scope="col">Description</th>
          </tr>
          {% for result in employees %}
          <tr>
            <td>{{ result['title'] }}</td>
            <td><a target="_blank" href={{ result['link'] }}>LinkedIn</a></td>
            <td>{{ result['description'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
